.wrapper {
    display: flex;
    justify-content: space-between;
}

.header {
    display: flex;
    justify-content: right;
    gap: 20px;
    padding-right: 10px;
}

a{
    text-decoration: underline;
    color: #EBF4F6;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #EBF4F6;
    margin: 0;
    padding: 0;
    background: #00356B;
}

.introduction {
    padding-bottom: 15px;
}

.intro {
    display: flex;
    gap: 10px;
    margin-left: 10px;
    padding-right: 20px;
}

#profilepic {
    width: 250px;
    border-radius: 125px;
    border: 2px solid;
    align-self: center;
    margin-left: 150px;
}

.introinfo {
    margin-left: 10px;
    margin-right: 150px;
    font-size: 24px;
}


.calculator {
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #333;
    border-radius: 10px;
    width: 500px;
    padding: 20px;
    padding-top: 40px;
}

#contactMe {
    background-color: #444;
    border-radius: 5px;
    color: #fff;
    font-size: 1.2em;
    text-align: center;
    padding: 15px;
    margin-bottom: 20px;
    width: 388px;
}

.calcbutton {
    background-color: #555;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    padding: 15px;
    font-size: 1em;
    width: 388px;
    margin-top: 7px;
    text-decoration: none;
}

.calcbutton a{
    text-decoration: none;
    color: #fff;
}

.calcbutton:hover {
    background: #666;
}

#calculatorphoto {
    width: 388px;
    margin-top: 30px;
}
